/* Colors */

$dangerRed: #c85c54;
$warnYellow: #e6b05f;
$confirmBlue: #76bedb;
$darkGray: #333333;
$lightGray: #9a9a9b;
$mainBlue: #4677b3;
$veryLightGray: #eeedee;
$white: #ffffff;

/* Font Sizes */

$font-large: 3rem; //48px
$font-med: 2.375rem; //38px
$font-small: 1.625rem; //26px
$font-xsmall: 1.125rem; //18px