@use "../1-helpers" as h;

.issue-form {
    
    &__wrapper {
        padding: 1.625rem 0.75rem;
        display: flex;
        flex-direction: column;
        background-color: h.$veryLightGray;
        border-radius: 0.9375rem;
        filter: drop-shadow(0 0 1rem #0f0f0fdd);
    }
}